.NewGameForm {
    width: 600px;
    padding: 30px 0px 50px 0px;
    background-color: #fff;  
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.NewGameForm-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}



#totalQuestionsLabel {
    color: #000;
    margin: 0 10px 10px 10px;
    text-align: center;
    color: #ffffff;
    font-size: 19px;

}

select {
    background-color: rgb(21, 21, 21);
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
}

.NewGameForm-totalQuestions {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.NewGameForm-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 
}

.NewGameForm-category {
    width: 220px;
    margin-bottom: 5px;
    background-color: rgb(0, 0, 0,0.0);
    color: #ffffff;
    font-size: 18px;
}

input[type=radio] {
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 8px;
    
  }

.btn-startgame {
    cursor: pointer;
    font-size: 22px;
    background-color: rgb(255, 207, 49);
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px 5px 2px #656565;
    -webkit-transition: box-shadow 0.3s, background-color 0.3s, color 0.3s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
  }

.btn-startgame:hover {
    box-shadow: 2px 2px 3px 1px #353535;
    background-color: rgb(255, 207, 49);
    background-color: #72aaff;
}

.ask {
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
}



  @media only screen and (max-width: 600px) {

    .NewGameForm {
    width: 400px;
    padding: 20px 0px 40px 0px;
    margin-top: 20px;
    color: #fff;
    }

    #totalQuestions {
        border: 1px solid#fff;
        background-color: #000;
        color: #fff;
    }

    .ask {
        font-size: 16px;
        color: #fff;  
    }
    #totalQuestionsLabel {
        color: rgb(255, 255, 255);
        font-size: 16px;
    }

    select {
        font-size: 13px;
    }
  
    .NewGameForm-category {
        font-size: 14px;
        width: 180px;
    }

    input[type=radio] {
        margin-right: 0px;
        margin-bottom: 0px;
    }

  .btn-startgame {
    font-size: 16px;
    padding: 8px 15px;
    }


  }
 @media only screen and (max-width: 600px) {

    .NewGameForm {
    width: 300px;

    }
}

  @media  only screen and (max-width: 820px) and (orientation:landscape) { 
      .NewGameForm {
    width: 700px;
    padding: 30px 0px 50px 0px;
    background-color: #fff;  
    background-color: rgb(0, 0, 0, 0.0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

    .btn-startgame:hover {
        box-shadow: 2px 2px 3px 1px #353535;
        background-color: rgb(255, 207, 49);
    }
  
  }